<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/2681631/pexels-photo-2681631.jpeg?auto=compress&cs=tinysrgb&w=400"
    alt="post-img"
    class="card-img-top"
  />
  <div class="class-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-danger text-center ml-3">Featured</small>
    <small class="bg-light text-danger text-center ml-3"
      >Views - 100,256</small
    >

    <h5 class="mt-1">HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
    <P
      >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam
      consequatur in omnis dignissimos, impedit perferendis asperiores totam
      corrupti nisi! Iste fugit obcaecati laboriosam ad aut nostrum impedit
      ducimus cum dignissimos.</P
    >
    <small class="bg-light text-warning text-center ml-5"
      >LAST UPDATED - SEP 20, 2020</small
    >
  </div>
</div>
