<form #itemForm="ngForm" (ngSubmit)="onSubmit(itemForm)">
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field is-narrow">
        <p class="control">
          <input
            type="number"
            style="width: 100px"
            class="input"
            name="amount"
            placeholder="Amount"
            [ngModel]="item.amount"
            required
          />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input
            type="text"
            class="input"
            name="description"
            placeholder="Description"
            [ngModel]="item.description"
            required
          />
        </p>
      </div>
      <div class="field is-narrow">
        <button
          type="submit"
          [disabled]="!itemForm.valid"
          class="button"
          [ngClass]="{ 'is-primary': isNewItem, 'is-success': !isNewItem }"
        >
          <p *ngIf="isNewItem">Add</p>
          <p *ngIf="!isNewItem">Save</p>
        </button>
      </div>
    </div>
  </div>
</form>
