<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">About Us</h1>

    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, velit
        ea. Pariatur possimus voluptatum veniam delectus quia magnam
        exercitationem odio, mollitia doloremque aperiam. Repellendus incidunt
        aliquid similique exercitationem error beatae. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Voluptatum itaque ullam minus,
        accusamus atque quis. Excepturi enim ipsum cupiditate sint minima dolore
        esse. Ex ratione veritatis qui facilis non modi. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Praesentium provident totam quia
        saepe voluptatem, molestias alias cumque dolores sapiente quos at maxime
        animi quo itaque repellat, fugit debitis voluptates illum.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, velit
        ea. Pariatur possimus voluptatum veniam delectus quia magnam
        exercitationem odio, mollitia doloremque aperiam. Repellendus incidunt
        aliquid similique exercitationem error beatae. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Voluptatum itaque ullam minus,
        accusamus atque quis. Excepturi enim ipsum cupiditate sint minima dolore
        esse. Ex ratione veritatis qui facilis non modi. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Praesentium provident totam quia
        saepe voluptatem, molestias alias cumque dolores sapiente quos at maxime
        animi quo itaque repellat, fugit debitis voluptates illum.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, velit
        ea. Pariatur possimus voluptatum veniam delectus quia magnam
        exercitationem odio, mollitia doloremque aperiam. Repellendus incidunt
        aliquid similique exercitationem error beatae. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Voluptatum itaque ullam minus,
        accusamus atque quis. Excepturi enim ipsum cupiditate sint minima dolore
        esse. Ex ratione veritatis qui facilis non modi. Lorem ipsum dolor sit
        amet consectetur adipisicing elit. Praesentium provident totam quia
        saepe voluptatem, molestias alias cumque dolores sapiente quos at maxime
        animi quo itaque repellat, fugit debitis voluptates illum.
      </p>

      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
